<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Problem Net</title>
    <!-- bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="{% url "problems:home" %}" class="navbar-brand bigbrand">RPL ProblemNET <i>BETA</i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="">Writing Good Problems</a>
          </li>
          <li>
            <a href="{% url "problems:list" %}">Browse</a>
          </li>
          <li>
            <a href="{% url "problems:create" pk=0 %}">Add a Problem</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url "users:logout" %}">Sign Out ({{user}})</a>
          </li>
          {% else %}
          <li>
            <a href="{% url "users:login" %}">Sign In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div><!-- container -->
  </body>
</html>
