{% extends "sitewide/base.html" %}


{% block content %}
  <h4>“If I were given one hour to save the planet, I would spend 59 minutes defining the problem and one minute resolving it."</h4>
  <h4>-Albert Einstein</h4>
  <hr>
  <h2>Top Problems</h2>

  <div class="row">

  {% for problem in problems %}
    <div class="col-lg-4 col-md-4 col-sm-6 box index_problemdiv">
      <a href="{% url 'problems:problem_detail' pk=problem.0.pk %}">
        <div class="index_problemborder">

          <div class="index_overall_votes table_parent">
            <div class="table_child">{%if problem.0.overall_votes > 0 %}+{%endif%}{{problem.0.overall_votes}}</div>
          </div>






            <div class="index_problemdescription">
              <h4>{{problem.0.text}}</h4>
              <div class="index_problemauthor">
                {{problem.0.comments.count}} comments
                <br>
                added by: {% if problem.0.anonymous_author %}anonymous{% else %}{{problem.0.author}}{%endif%}
              </div>
              {% if problem.0.whys.count > 0 %}
                <div class="index_problemwhys">
                  Whys x {{problem.0.whys.count}}
                </div>
              {% endif %}
            </div><!-- index_problemdescription -->

        </div><!-- index_problemborder -->
      </a>
    </div><!--index_problemdiv -->
  {% endfor %}
  </div><!-- row -->
{% endblock %}
