{% extends "sitewide/base.html" %}

<!-- PROBLEM -->
{% block content %}

<!-- OUTPUT ANCESTOR LINKS -->
  {% for root in ancestor_array %}
  <a href="{% url 'problems:problem_detail' pk=root.pk%}">{{root.text}}</a>
  <br>
  {% endfor %}

<!-- JUMBOTRON CONTENT -->
  <div class="jumbotron problem_jumbo">
    <div class="detailproblem_item">
      <div class="list_upvotediv">
        <a class = "{% if user in problem.upvotes.all %}voted{%endif%}" {% if user.is_authenticated %} href="{% url 'problems:detailupvote' pk=problem.pk %}" {% else %} href="{% url "users:login" %}" {% endif %}>
          <div class="sub_upvotediv">
            <span class="glyphicon glyphicon-menu-up ticker"></span>
          </div>
        </a>
        <div class="sub_upvotediv">
          <span>{{problem.total_votes}}</span>
        </div>
        <a class = "{% if user in problem.downvotes.all %}voted{%endif%}" {% if user.is_authenticated %} href="{% url 'problems:detaildownvote' pk=problem.pk %}" {% else %} href="{% url "users:login" %}" {% endif %}>
          <div class="sub_upvotediv">
            <span class="glyphicon glyphicon-menu-down ticker"></span>
          </div>
        </a>
      </div><!-- list_upvotediv -->

      <div class="detailproblem_description">
        <h3>{{problem.text}}</h3>
        <h5>Author: <strong>{% if problem.anonymous_author %}anonymous{% else %}{{problem.author}}{%endif%}</strong></h5>
      </div>

    </div>

    <!-- request and add why button -->
    {% if user == problem.author %} <!--if the user is the author-->
      <div class="btn-addwhy">
        {% if problem.whys.all.count > 0 %}
          <div class="why_marker btn btn-primary"></div>
          {{problem.total_root_requests}}
        {% else %}
          <a class="btn btn-success" {% if user.is_authenticated %} href="{% url "problems:create" pk=problem.pk %}" {% else %} href="{% url "users:login" %}" {% endif %}>Add Why Response</a>
          {{problem.total_root_requests}} Why Requests
        {% endif %}
      </div>
    {% else %}  <!--if the user is NOT the author-->
      <div class="btn-addwhy">
        {% if problem.whys.all.count > 0 %}
          <div class="why_marker btn btn-primary"><i class="fa fa-question-circle" aria-hidden="true"></i></div>
          {{problem.total_root_requests}}


        {% else %} <!-- user is not the author of the problem -->
            <!-- non-author Add Root Button -->
            <a class="btn btn-success" {% if user.is_authenticated %} href="{% url "problems:create" pk=problem.pk %}" {% else %}
            href="{% url "users:login" %}" {% endif %}>Add Why Response</a>
            <!-- non-author Request Root Button -->
            <a class="btn {% if user in problem.root_requests.all %} btn-warning {% else %} btn-primary {% endif %} btn-addwhy" {% if user.is_authenticated %}
            href="" {% else %} href="{% url "users:login" %}" {% endif %}>
            {% if user in problem.root_requests.all %} Why Requested {% else %}Request Why {% endif %}
            </a>
            {{problem.total_root_requests}}
        {% endif %}
      </div><!--btn-addwhy-->
    {% endif %}


    <!--********PROBLEM WEIGHT DIV *************-->
    <div class="detail_problem_weight">
      <div id='problem_score_title' class=''>
        Problem Score
      </div>
      <div id="problem_score_votes">
       0
      </div>

    </div>
  </div><!-- jumbotron -->



<!-- ROOT PROBLEM LIST SECTION -->
{% for root in problem.problems.all %}
<a href="{% url 'problems:problem_detail' pk=root.pk %}">{{root.text}}</a>

  <br>


{% endfor %}




<!-- COMMENT SECTION -->
<hr>
<!--BUTTON-->
<a class="btn btn-primary btn-problem-comment" {% if user.is_authenticated %} href="{% url "problems:createcomment" pk=problem.pk type=0 %}"{% else %} href="{% url "users:login" %}" {% endif %}>Add Comment</a>
<!--COMMENTS -->
{% if problem.comments.all.count > 0 %}
  <div class="problem_conversation">
  {% for comment in problem.comments.all %}
    {% if comment.is_problem_comment == True %}
      <strong>{{comment.author}}</strong>: {{comment.text}}
      <br>

      {% if user.is_authenticated %}
        <a href="{% url 'problems:likecomment' pk=comment.pk %}">
          {% if user in comment.likes.all %}Unlike{% else %}Like{% endif %}
        </a>
      {% else %}
      <span class="glyphicon glyphicon-thumbs-up"></span>
      {% endif %}


      <!-- ********PROBLEM REPLIES********* -->
      &nbsp;{{comment.total_likes}}&nbsp;&nbsp;
      <a {% if user.is_authenticated %} href="{% url 'problems:createreply' pk=comment.pk type=0%}" {% else %} href="{% url "users:login" %}" {% endif %}>Reply</a>
      <br>
      {% for reply in comment.replies.all %}
      <div id="replydiv">
        <strong>{{reply.author}}</strong>: {{reply.text}}
        <br>
        {% if user.is_authenticated %}
          <a href="{% url 'problems:likereply' pk=reply.pk %}">
            {% if user in reply.likes.all %}Unlike{% else %}Like{% endif %}
          </a>
        {% else %}
          <span class="glyphicon glyphicon-thumbs-up"></span>
        {% endif %}
        &nbsp;{{reply.total_likes}}&nbsp;&nbsp;
        <a {% if user.is_authenticated %} href="{% url 'problems:createreplyreply' pk=reply.pk type=0%}" {% else %} href="{% url "users:login" %}" {% endif %}>Reply</a>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor%}
</div><!-- problem_conversation -->  <!--Problem Comments -->
{% endif %}


{% endblock %}
