
/*GENERIC CLASSES*/
.dashed{border: 1px dashed black;}
.red{background-color: red;}
.blue{background-color: blue;}
.green{background-color: green;}
.box{height: 200px;}
.table_parent {display: table;}
.table_child {display: table-cell; vertical-align: middle;}

/*MODIFIERS*/
a.voted{color: orange;}


/*REGISTER PAGE*/
div.register_field{margin-bottom: 10px;}

/*DETAIL AND LIST VIEW*/
div.whydivs{margin-bottom: 100px;}
div.problem_jumbo{position: relative; padding-left: 30px!important;}
div.btn-addwhy{position: absolute; right: 20px; bottom: 20px;}
a.btn-problem-comment{position: absolute; bottom: 20px; margin-left: 50px;}
a.btn-why-comment{position: absolute; bottom: 20px; left: 50px; margin-left: 30px;}
div.why_marker{display: inline-block;}

div.detail_problem_weight{
  position: fixed;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #eee;
  top: 100px;
  left: 0px;
}
    div#problem_score_title{
      width: 150px;
      text-align: center;
      padding-top: 5px;
      font-size: 15px;
    }
    div#problem_score_votes{
      width: 150px;
      margin-top: -5px;
      text-align: center;
      font-size: 50px;
    }


.subjumbowhy{width: calc(100% - 100px);
  margin-top: 15px;
  display:inline-block;
  margin-top: 0;
  padding-left: 30px!important;
  position: relative;}
div.whytext{display: inline-block; width: 95px; vertical-align: top; margin-top: 10px;}
div.whytext h3{margin-top: 0;}
div.whydiv{margin-top: 20px;}
/*div.why_description{vertical-align: middle;}*/
div.why_upvotediv{vertical-align: middle;}


div.list_upvotediv{
  text-align: center;
  width: 50px;
  display: inline-block;}
a.problem_link{
  text-decoration: none;
  color: black;
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 70px);
}
.ticker{font-size: 25px;}
#replydiv{margin-left: 25px;}
.sub_upvotediv span{
  width: 100%;
}
 .detailproblem_description{
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 70px);
  margin-bottom: 30px;}
.detailproblem_description h3{margin-top: 10px;}
.detailproblem_item{}

.app_submit{margin-top: 10px;}
.problem_conversation{margin-left: 10px;}
.why_conversation{margin-left: 100px;}

/*INDEX VIEW*/



div.index_overall_votes{
  width: 60px;
  height: 60px;
  background-color: #eee;
  display: inline-block;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
}
div.index_overall_votes div{height: 60px;
  width: 60px;
  font-size: 25px;
  color: grey;}

div.index_problemdiv{
  padding: 10px;
}
div.index_problemborder{
  border: 1px solid black;
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-left: 0px;}

div.index_problemdescription{
  width: calc(100% - 80px);
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
div.index_problemauthor{
  text-align: right;
  position: absolute;
  right: 20px;
  bottom: 15px;}
div.index_problemwhys{
  text-align: left;
  position: absolute;
  left: 20px;
  bottom: 15px;
}
